.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    width: 1200px;
    margin-bottom: 30px;
}
.slider{
    display: flex;
    cursor: grab;
    width: 2400px;
}
.item{
    height: 40rem;
    max-width: 500px;
    padding: 0.5rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}