.sangria{
    /* padding-bottom: 40px; */


   


    padding: 20px;
    /* font-family: monospace; */
    font-family: 'Cinzel', serif;
    font-size: 15px;
    margin: 12px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    /* background-color: rgb(43, 43, 43);           */
    width: 20.5%;
    height: 15%;
    border-radius: 2%;
    border: 3px solid white;                                                        /*BORDER: dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden 
    /* esto centra todo pero yo lo quiero usar en el id precentacion */               
    margin-left: auto;                                                                 
    margin-right: auto;    
    
    /*box-sizing: border-box;*/


    background: #01012a;
    background: linear-gradient(330deg,#01012a 0%, #0002b1 80%);
    background: -webkit-linear-gradient(330deg,#01012a 0%, #0002b1 80%);
    background: -moz-linear-gradient(330deg,#01012a 0%, #0002b1 80%);


    /*TODAS LAS TRANSITION SON DE 0.2 SEGUNDOS YO QUIERO QUE SEA BOX-SHADOW*/
    transition: all 0.2s ease;
}
.Titulo{
    padding: 30px;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    /* width: 950px; */
    border: 3px solid white;
    text-align: center;


    background: #01012a;
    background: linear-gradient(330deg,#01012a 0%, #0002b1 80%);
    background: -webkit-linear-gradient(330deg,#01012a 0%, #0002b1 80%);
    background: -moz-linear-gradient(330deg,#01012a 0%, #0002b1 80%);
    margin: 0px;

}
.Links{
    color: rgb(255, 255, 255);
}
.sangria ul{
   
    /*font-family: monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(73, 187, 38);
    border-radius: 2%;*/
    
    margin: 5px;
    column-count: 2;
    /* column-rule: 3px white;     es para poner una linea que divide las columnas pero no funciona*/
    column-width: 100px;
    
}
.precentacion{
    text-align: center;
    position: relative;
    
}
table{

    /*Colapsa los vorde, sin esta linea cada linea tendria un cuadrado de borde*/
    border-collapse: collapse;
}
td{
    /*hace referencia a la tabla*/
    border: solid 3px white;
    border-radius: 2px;


    
    padding: 10px;
    
}
    /* cuando pongo el mause sobre todo debia ponerse un fondo rojo en los cuadros */
.sangria:hover{
    /* background-color: red; */
    /* box-shadow: 0 0.1rem 0.3rem rgba(255, 0, 0, 1); */
    box-shadow: 0px 0px 20px 9px rgba(33,199,132,0.75);
    -webkit-box-shadow: 0px 0px 20px 9px rgba(33,199,132,0.75);
    -moz-box-shadow: 0px 0px 20px 9px rgba(33,199,132,0.75);

    color: yellow;
    
}
a{

    /* le doy una animacion para trancisionar el color  */
    transition: color 0.4s ease;
}
a:hover{
    /* cuando pongo el mause arriba de los links se pone rojo */
    color: red;
}
.centrar{
    text-align: center;
}
