<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Index</a>  </li>
        <li><a href="/primeraRuta">Primera ruta</a></li>
        <li><a href="/segundaRuta">Segunda ruta</a></li>
        <li><a href="/terceraRuta">Tercera ruta</a></li>
        <li><a href="/cuartaRuta">Cuarta ruta</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
