.contenedor{
    
    background-color: aquamarine;
    position: absolute;
    right: 0px;
    


}


.BOX{
    background-color: blue;
    width:  100px;
    height:  100px;
    color: white;
      

  
    font-size: 50px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 10px;
}
.BOX2{


    background-color: red;
    width:  100px;
    height:  100px;
    color: white;
   

    
    font-size: 50px;
    margin: 10px;



    display: flex;
    justify-content: center;                /*hago que la caja sea flexible y despues centro el eje X y Y */
    align-items: center;


    border-radius: 10px;

}
.BOX3{


    background-color: green;
    width:  100px;
    height:  100px;
    color: white;
  

    
    font-size: 50px;
    margin: 10px;


    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 10px;

}