<div class="containter" style="margin: 50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }} !!</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <p class="text-right"> Hola {{ usuario }} !! <a href="/admin/login"
        class="btn btn-sm btn-primary">Cerrar Sesion <i class="fa fa-sing-out"></i>
        </a></p>

    </div>
</div>